<table class="table table-bordered">
  <tr>
    <td colspan="5" style="text-align:center;"><h4> All User Details</h4></td>
  </tr>
  <%= button_tag "Change User Role As Admin", type: "button", id: "admin_role", class: "btn btn-primary"%><br/><br/>
  <%= button_tag "Multiple Delete", type: "button", id: "multiple_user_delete", class: "btn btn-primary"%><br/><br/>
  <tr>
    <td> </td>
    <td> Id </td>
    <td> Username </td>
    <td> Email </td>
    <td> User Role </td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <% unless user.role == 'admin'%>
      <td> <%= check_box_tag "user_#{user.id}", user.id, false, class: "approve_checkbox" %> </td>
      <td> <%= user.id %> </td>
      <td> <%= user.username %> </td>
      <td> <%= user.email %>
      <td> <%= user.role %> </td>
      <td> <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: 'Are You sure'}, class: "btn btn-danger", remote: true %></td>
  </tr>
   <% end %>
  <% end %>
</table>
