<table>
<div id="e1"
<tr id="err1">
  <td> </td>
</tr>
</div>

<tr>
 <td colspan="5" style="text-align:center;"> <h4> Post View </h4>
</tr>
<tr>
 <td> Post Title </td>
 <td> <%= @post.title %> </td>
</tr>
<tr>
 <td> Category </td>
 <td> <%= @post.category.title %> </td>
</tr>
<tr>
 <td> Username </td>
 <td> <%= @post.user.username %> </td>
</tr>
<tr>
 <td> Description </td>
 <td> <%= @post.description %> </td>
</tr>
<tr>
 <td> Images </td>
 <td>
  <% (0...@post.image.count).each do |img| %>
   <%= image_tag(@post.image[img], size:"100x100")%>
  <% end %>
 </td>
</tr>
<tr>
 <td> <b> <h4> All Comments </td>
</tr>

  <div id="commentrecord">
  <% @comments.order(:id).each do |comment| %>
    <% unless comment.description.nil? %>
      <%= render 'comment_row', comment: comment %>
    <% end %>
  <% end %>
  </div>


<tr>
 <td colspan="2">
  <div id="actiontext1" >
    <%= form_with model: [@post, @comment], method: :post, remote: true do |f| %>
    <%= f.hidden_field :post_id, value:@post.id %><br/><br/>
    <%= f.label :description, value:"New Comment" %>
    <%= f.rich_text_area :description, cols: 30, rows: 100 %><br/><br/>
    <%= f.submit class: "btn btn-info" %>
    <% end %>

 </div>
 </td>
</tr>

</table>
