<table>
 <tr>
  <td colspan="5" style="text-align:center;"> <h4> Post Details </h4>
 </tr>
 <tr>
  <td> Post Title </td>
  <td> <%= @post.title %> </td>
 </tr>
 <tr>
  <td> Description </td>
  <td> <%= @post.description %> </td>
 </tr>
 <tr>
  <td> Images </td>
  <td>
   <% (0...@post.image.count).each do |img| %>
    <%= image_tag(@post.image[img], size:"100x100")%>
   <% end %>
  </td>
 </tr>
  <tr>
     <td> <b> <h4>All Comments </td>
  </tr>

  <tr>
   <td colspan="2">
   <%= form_with model: [@post, @comment], method: :post, local: true do |f| %>
    <%= f.hidden_field :post_id, value:@post.id %>
    <% @post.comments.each do |comment|%>
      <%= comment.description %> <br/>
    <% end %>
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
    <%= f.submit class: "btn btn-info" %>
   <% end %>
    <td>
  </tr>
</table>
