<%= link_to "Add New Category" , new_category_path %> <br/>
<table border="1" class="table table-bordered">
  <tr>
    <td colspan="5" style="text-align:center;"><h4> Category Details</h4></td>
  </tr>
  <tr>
    <td> Id </td>
    <td> Category Title </td>
    <td colspan="3"> Crud Opetaion </td>
  </tr>
   <% @categories.each do |category| %>
  <tr>
    <td> <%= category.id %> </td>
    <td> <%= category.title %> </td>
    <td> <%= link_to "Show", category_path(category), class: "btn btn-info"%></td>
    <td> <%= link_to "Edit", edit_category_path(category), class: "btn btn-info" %></td>
    <td> <%= link_to "Delete", category_path(category), method: :delete, data: {confirm: 'Are You sure'}, class: "btn btn-danger" %></td>
  </tr>
   <% end %>
</table>
