
<table border="1" class="table table-bordered">
  <% if current_user.role == 'admin' %>
  <tr>
    <td colspan="5" style="text-align:center;"><h4> All User Details</h4></td>
  </tr>
  <tr>
      <%= link_to "Change Role as Admin" %>
  </tr>

  <tr>
    <td> Id </td>
    <td> Username </td>
    <td> Email </td>
    <td> User Role </td>

  </tr>
    <% @users.each do |user| %>
  <tr>
    <% unless user.role == 'admin'%>
    <td> <%= check_box_tag "user_#{user.id}", user.id, false, class: "approve_admin" %> </td>
    <td> <%= user.id %> </td>
    <td> <%= user.username %> </td>
    <td> <%= user.email %>
    <td> <%= user.role %> </td>
    <td> <%= link_to "Edit", edit_user_registration_path(user),class: "btn btn-info" %></td>
    <td> <%= link_to "Delete", user_registration_path(user), method: :delete, data: {confirm: 'Are You sure'}, class: "btn btn-danger" %></td>
  </tr>
    <% end %>
    <% end %>
   <% else %>
      <h1> You Are Not Admin User </h1>
      <%= link_to "Back" , dashboard_index_path %>
   <% end %>
</table>
